.card {
    position: relative;
    text-align: center;
    background-color: $color-white;
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--img {
        width: 5rem;
    }
}